*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

button{
         font-size:2rem ; 
         padding: 1rem;
          
           color: azure;
           background-color: rgb(51, 50, 49);
           border-radius: 5px;
      
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 2rem; 
  background-color: rgb(59, 59, 58);
}
