*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(71, 69, 67);
  color: white;
  padding: 20px;
  height: 100vh;
  white-space: nowrap; 
display: flex;
justify-content: center;
align-items: center;
}
