*{
          margin:0%;
          padding: 0%;
          box-sizing: border-box;
}
div{
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-size: 30px;
          background-color: beige;
          
         
          
}
button{
         padding: 1.5rem;
         border: 1px solid black;
 font-size: 20px;
 border-radius: 5px;
 font-weight: 500;
  background-color: rgb(186, 203, 210);
}